.login-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logout-button__wrapper {
    display: flex;
    justify-content: flex-end;
}

.add-button__wrapper {
    position: fixed;
    bottom: 2rem;
    right: 10rem;
}