.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 4rem auto 0 auto;
    width: 100%;
    @media (min-width: $mediumScreen) {
        width: 80%;
    }
    @media (min-width:$largeScreen) {
        width: 70%;
    }
}

.container__login {
    @extend .container;
    align-items: center;
    justify-content: center;
}

.container__spinner {
    @extend .container__login;
    padding-top: 15rem;
}