html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: black; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

.login-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.logout-button__wrapper {
  display: flex;
  justify-content: flex-end; }

.add-button__wrapper {
  position: fixed;
  bottom: 2rem;
  right: 10rem; }

.container, .container__login, .container__spinner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 4rem auto 0 auto;
  width: 100%; }
  @media (min-width: 768px) {
    .container, .container__login, .container__spinner {
      width: 80%; } }
  @media (min-width: 992px) {
    .container, .container__login, .container__spinner {
      width: 70%; } }

.container__login, .container__spinner {
  align-items: center;
  justify-content: center; }

.container__spinner {
  padding-top: 15rem; }

.filter-input__wrapper {
  display: flex;
  justify-content: flex-start; }

.item-details__inputs-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; }

.loading-message {
  color: purple;
  font-size: 2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif; }

/*# sourceMappingURL=styles.css.map */
